#guitarimg{
    height: 300px;
    width: 300px;
        -webkit-transform:rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        padding-right: 50px;
        padding-left: 50px;
}
#guitarimh{
    height: 300px;
    width: 300px;
        -webkit-transform:rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        padding-right: 50px;
        padding-left: 50px;
}


ion-icon {
    color: black;
}
#guitarim{
    height: 200px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    font-size:20px;
    background: white;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 40px;
    left: 0px;
    border-radius: 0px 5px 5px 0px;
    background: rgba(65, 65, 65, 0.7);
    padding: 5px;
  
  }
  ion-content{
    --background: #0094FF;
  }
  #amazing{
      background: white;
  }
  .containe{
      background: white;
  }