<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
          </ion-buttons>

        <ion-title>Fender Guitar</ion-title>
       </ion-toolbar>
    
</ion-header>

  <ion-content >
    <div>
        
    </div>

      
      <ion-card routerLink="/transactions" class="conatiner">
      
        <div class="container">
        <img src="../assets/guitarpicture1.jpeg" id="guitarimg">
        <div class="bottom-left"> $5/week </div>
        </div>
    
        <ion-card-header class="container">
          <ion-card-title>Fender Guitar</ion-card-title>
        </ion-card-header>

        <ion-card-content class="containe">
            <table style="width:100%">
                <tr>
                    <th> <ion-text color="dark">Victor Lopez</ion-text>
                        <h3><ion-text color="dark">VictorL@gmail.com </ion-text><br>
                            <ion-text color="dark">(323) 434-8957 </ion-text><br>
                            <ion-text color="dark">Los Angeles, CA</ion-text>
                        </h3>
                    </th>
                    <th colspan="2"> <ion-text color="dark">Description</ion-text> 
                      <h3><ion-text color="dark">--------------<br>
                      ---------------<br>
                    ----------------<br></ion-text>
                  </h3>
                    </th>
                  </tr>
            </table>
            <ion-icon name="Sample-back"></ion-icon>
        </ion-card-content>

      </ion-card>


      <ion-card routerLink="/transactions">
        <div class="container">
        <img src="../assets/guitarpicture2.jpg" >
        <div class="bottom-left"> $7/week </div>
      </div>
        <ion-card-header>
          <ion-card-title>Acoustic Guitar</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <table style="width:100%">
            <tr>
                <th> <p>William Jones</p>
                    <h3>realemail@website.suffix <br>
                      (123) 456-7890 <br>
                      City, State
                    </h3>
                </th>
                <th colspan="2"> <p>Description</p> 
                  <h3>--------------<br>
                  ---------------<br>
                ----------------<br>
              </h3>
                </th>
              </tr>
        </table>
      </ion-card-content>
      </ion-card>
  
    </ion-content>

    