<ion-header>
  <ion-toolbar>
      
    <ion-title>Login</ion-title>

    <ion-buttons slot="start">
            <ion-tab-button tab="tab1" routerLink="../">
              <ion-icon name="arrow-back"></ion-icon>
              <ion-label></ion-label>
            </ion-tab-button>
            

        </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
      <ion-textarea placeholder="Username/Email" id= "email"></ion-textarea>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
      <ion-textarea placeholder="password" id= "pass"></ion-textarea>
  </ion-card-content>
</ion-card>

</ion-content>
