#Ion-Logo {
  height: px;
  width: 160px;
  display: block; 
  margin: auto;
}
#purchases {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
#renting{
margin-left: 100px;
width: 150px;
}
#rented{
  width: 150px;
  margin-left: 100px;
}
#calebsguitarimg{
  height: 150px;
  width: 250px;
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-right: px;
  padding-left: px;
}