<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-img id="Ion-Logo" src="/assets/newlogo.png"></ion-img>
    </ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>

  <p><b>The Instruments You Have rented In The Past Will Show Up Here.<br><br>
  The Listings button will take you to a page showing what you are currently listing for people to rent out.</b></p>

  <ion-button color="light" id="rented" routerLink="/listing">Your Listings</ion-button>
  

<ion-card>
    <ion-card-content>
      Yamaha F310 Dreadnought Acoustic Guitar<br>
      <ion-img id="calebsguitarimg" src="/assets/calebsguitarimg.jpg"></ion-img>
      $5/day
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-content>
        Yamaha F310 Dreadnought Acoustic Guitar<br>
        <ion-img id="calebsguitarimg" src="/assets/calebsguitarimg.jpg"></ion-img>
        $5/day
      </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
          Yamaha F310 Dreadnought Acoustic Guitar<br>
          <ion-img id="calebsguitarimg" src="/assets/calebsguitarimg.jpg"></ion-img>
          $5/day
        </ion-card-content>
      </ion-card>

</ion-content>
