<body>

<ion-header>
  <ion-toolbar>
     <ion-title >
      <ion-img id="Ion-Logo" src="/assets/newlogo.png" ></ion-img> 

     </ion-title>
      <ion-button id="log" routerLink="/login">Login</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class = "bg">
    <div class= "bg"> 

    
    <ion-card-header class="bg">
      <ion-card-title id=slogan>
        
      </ion-card-title>
      <ion-searchbar aria-autocomplete="on" placeholder="Find Instruments or Users"showCancelButton="focus" style=" --background: white;"></ion-searchbar>
      
    </ion-card-header>
    

    <table style="width:100%" class="bg">
        <tr>
          <th> <ion-img id=guitaricon src="/assets/strings.png"routerLink="/guitar"></ion-img>
          </th>
          <th colspan="2">  <ion-img id=bassicon src="/assets/windinst3.png" routerLink="/violin"></ion-img>   </th>
        </tr>
        <tr>
          <td>   <ion-img id=drumsicon src="/assets/percussion.png" routerLink="/trombone"></ion-img>  </td>
          <td>    <ion-img id=trumpeticon src="/assets/brass2.png" routerLink="/trumpet"></ion-img>  </td>
       
        </tr>
       </table>
                
      </div>
    </ion-content>
    

  </body>    
