<body>

  <ion-header>
    <ion-toolbar>
      <ion-title>
        <ion-img id="Ion-Logo" src="/assets/SamplifyV2.png"></ion-img>

      </ion-title>
      <ion-button id="log" routerLink="login">Login</ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content class="bg">
    <div class="bg">


      <ion-card-header class="bg">
        <ion-card-title id=slogan>

        </ion-card-title>
        <ion-searchbar aria-autocomplete="on" placeholder="Find Instruments or Users" showCancelButton="focus"
          style=" --background: white;"></ion-searchbar>

      </ion-card-header>


      <table style="width:100%;">
        <tr>
          <td>
            <ion-img class="music-icon" id="guitaricon" src="/assets/guitaricon.png" routerLink="/tabs/tab1/usrnme">
            </ion-img>
          </td>
          <td colspan="2">
            <ion-img class="music-icon" id="bassicon" src="/assets/bassicon.png" routerLink="/tabs/tab1/violin">
            </ion-img>
          </td>
        </tr>
        <tr>
          <td>
            <ion-img class="music-icon" id=drumsicon src="/assets/drumsicon.png" routerLink="/tabs/tab1/trombone">
            </ion-img>
          </td>
          <td>
            <ion-img class="music-icon" id=trumpeticon src="/assets/trumpeticon.png" routerLink="/tabs/tab1/trumpet">
            </ion-img>
          </td>

        </tr>
      </table>

    </div>
  </ion-content>


</body>