.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
#but {
  display: block;
  margin: auto;
  width: 60%;
  border-radius: 0px;
  font-size: 30px;
}
#Ion-Logo {
  height: 50px;
  width: 160px;
  display: block; 
  margin: auto;
}
#butt {
  display: block;
  margin: auto;
  width: 60%;
   border-radius: 0px;
  font-size: 30px;
}

a {
  color: black;
}
#guitaricon{
  height: 200px;
  width: 200px;
}
#bassicon{
  float: right;
  height: 200px;
  width: 200px;
 
}
#trumpeticon{
  height: 200px;
  width: 200px;
  float: right;
}
#drumsicon{
  float: unset;
  color: black;
  height: 200px;
  width: 200px;
}
table, th, td {
  border-collapse: collapse;
 }
 th, td {
  padding: 5px;
  text-align: left;
 }

 .bg {
  

 }
#log{
  float: right;
}

.music-icon{
  width: 185px !important;
  margin: auto !important;
}

ion-content{
  --background: #0094FF;
}