#Ion-Logo {
  
  width: 160px;
  display: block; 
  margin: auto;
}
#something {
    font-size: 40px;
}
#cameraicon{
  height: 50px;
  padding-right: 150px;
}
#issacard{
  float: l;
  width: 150px;
  height: ds;
  display: inline-block;
}
#test{
  float: right;
  width: 200px;
  height: ds;
  
  display: inline-block;
}
#issatextarea{
  color: rgb(0, 0, 0);
}
#profile{
  padding-bottom: 50px;
}
#publish{
  padding-left: 600px;
}
#time{
  width: 100px;
}
#ctact{
  width: 50px;
}
.detime{
  width: 100px;
  text-align: top;
}
.info{
  text-align: right;
  padding-right: 100px;
}
.ino{
  text-align: left;
  

}