<ion-header>
    <ion-toolbar id="moreheader">
      <ion-title>
        <ion-img id="Ion-Logo" src="/assets/samplifyV22.png"></ion-img>
      </ion-title>
    </ion-toolbar> 
  </ion-header>


  <ion-content>
    <ion-card >
        <ion-card-content id = "profile" style = "background-color: gray">
<ion-img id=cameraicon src="/assets/cameraicon.png"> </ion-img> <ion-text color="light">Add Photo</ion-text>
        </ion-card-content>
        
    
    
     
       

        
      
   
    <div class="ino">
    
     
         <b><u>Instrument Name</u></b><ion-textarea placeholder="" id= "ctact"></ion-textarea><br>
         <b><u>Name</u><ion-textarea id="tme"></ion-textarea><br><u>Phone</u></b><ion-textarea id="tie"></ion-textarea><br><b><u>Email</u></b><ion-textarea id="tme"></ion-textarea><br><ion-textarea placeholder="City,State"></ion-textarea>
      
    
  </div>

  
    
          

         
            <ion-button color="dark" id="publish">
              Publish
            </ion-button>
      
    
  
  <ion-fab right bottom>
    <button ion-fab (click)="presentActionSheet()">
       <ion-icon name="camera"></ion-icon>
      </button>
  </ion-fab>
</ion-card>
    </ion-content>


        

