#Ion-Logo {
  
  width: 160px;
  display: block; 
  margin: auto;
}
#something {
    font-size: 40px;
}
#cameraicon{
  height: 50px;
  padding-right: 150px;
}
#issacard{
  float: left;
  width: 150px;
  height: ds;
  display: inline-block;
}
#test{
  float: left;
  width: 200px;
  height: ds;
  display: inline-block;
}
#issatextarea{
  color: rgb(0, 0, 0);
}
#profile{
  padding-bottom: 50px;
}