#guitarimg{
    height: 300px;
    width: 300px;
        -webkit-transform:rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        padding-right: 50px;
        padding-left: 50px;
}
#guitarimh{
    height: 300px;
    width: 300px;
        -webkit-transform:rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        padding-right: 50px;
        padding-left: 50px;
}


ion-icon {
    color: black;
}
#guitarim{
    height: 200px;
}

ion-content{
    --background: #0094FF;
}