#profile{
    background-color: white;
}

#guitarimg{
    height: 300px;
    width: 300px;
        -webkit-transform:rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        padding-right: 50px;
        padding-left: 50px;
}

.profpic{
    width: 75px
}

ion-icon {
    color: black;
}
  #issabody{
       background-color: white;
   }
   #navbar{
    background-color: white;
   }
   ion-content{
    --background: #0094FF;
   }